# {{ ansible_managed }}

{% for key, value in torrc.iteritems()|sort %}
{%   if value is sameas true %}
{{ key }} 1
{%   elif value is sameas false %}
{{ key }} 0
{%   elif value is string or value is number %}
{{ key }} {{ value }}
{%   else %}
{%     for v in value %}
{{ key }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
{% if torrc_hiddenservices|length > 0 %}
{%   for service in torrc_hiddenservices %}

HiddenServiceDir /var/lib/tor/{{ service.dir }}
{%     for src, dst in service.ports.iteritems()|sort %}
HiddenServicePort {{ src }} {{ dst }}
{%     endfor %}
{%   endfor %}
{% endif %}
