# {{ ansible_managed }}

{% for key, value in torrc.iteritems()|sort %}
{%   if value is sameas true %}
{{ key }} 1
{%   elif value is sameas false %}
{{ key }} 0
{%   elif value is string or value is number %}
{{ key }} {{ value }}
{%   else %}
{%     for v in value %}
{{ key }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
{% if torrc_hiddenservices is defined %}

{%   for service in torrc_hiddenservices %}
HiddenServiceDir /var/lib/tor/{{ service }}
{%     for port in torrc_hiddenservices[service].ports %}
{%       if port.src is defined and port.dst is defined %}
HiddenServicePort {{ port.src }} {{ port.dst }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
