# {{ ansible_managed }}

{% for key, value in torsocks.iteritems()|sort %}
{%   if value is sameas true %}
{{ key }} 1
{%   elif value is sameas false %}
{{ key }} 0
{%   elif value is string or value is number %}
{{ key }} {{ value }}
{%   else %}
{%     for v in value %}
{{ key }} {{ v }}
{%     endfor %}
{%   endif %}
{% endfor %}
